html{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{ 
    margin: 4%;
    width: auto;
    height: auto;
 
}
.container {
    width: 1150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container .card {
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: #fff;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
}
.container .card img {
    transition: 0.5s;
}
.container .card h1 {
    font-size: 2rem;
}
.container .card .content {
    padding: 20px;
    text-align: center;
}
.container .card .content p {
    color: #666;
    transition: 0.5s;
}
.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}
.container .card:hover {
    background-color: #3f51b5;
    color: white;
    margin-top: -30px;
    box-shadow: 2px 20px 25px #0000005d;
    border-color: #060b27;
}
.container .card:hover .content p {
    color: white;
}
.container .card:hover .content a{
    color:black;
    background-color: white;
}
.card img{
    width: 50%;
    height: 50%;
}
